@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'League Spartan', sans-serif;
	font-size: 18px;
	margin: 0px;
	background-color: #BDBDBD;
}

h1,h2,h3 {
	font-family: 'League Spartan', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}